@model List<Pizzeria.Models.Ordini>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach (var order in Model)
{
    <div>
        <h4 class=" fw-bold">Ordine:  @Html.DisplayFor(model => order.Ordine_ID)</h4>
        <hr />
        <dl class="dl-horizontal text-center">
            <dt>
                @Html.DisplayNameFor(model => order.Users.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => order.Users.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => order.Indirizzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => order.Indirizzo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => order.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => order.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => order.CostoCons)
            </dt>

            <dd>
                @Html.DisplayFor(model => order.CostoCons)
            </dd>

        </dl>
    </div>
    <div text-center>
        <a href="/OrdArts/Details/@order.Ordine_ID" class=" btn btn-outline-info text-center">Prodotti Acquistati</a>
    </div>
        
    

}